// resetowanie domyslnych styli
@use "./reset";

// kolory
$main: #4e5d6a;
$bg: #e2e6e9;
$txt: #2c3e50;
$help1: #a3b1b6;
$help2: #61a6a6;

body {
	background-color: $bg;
	font-family: "Lato", sans-serif;
	font-size: 2rem;
	color: $txt;
	animation: fadeIn 0.6s forwards;
	overflow-x: hidden;
}

// HEADER
.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 10vh;
	width: 100vw;
	font-size: 4rem;

	.header-underline {
		width: 130px;
		height: 4px;
		background-color: $main;
		margin: 0 auto;
	}
}
// ---

// USLUGI
.services {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 35vh;
	width: 100vw;
	background-color: $bg;
	text-align: center;

	.services-header {
		font-size: 3rem;
		margin-bottom: 4%;
		font-weight: 700;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	}

	.underline {
		width: 220px;
		height: 2px;
		background-color: $main;
		margin: 0 auto;
		margin-bottom: 2%;
	}

	.sets {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
	}
}

ul,
ol {
	list-style: none;
	text-align: center;
	padding: 0 15%;
	width: 350px;
}

li {
	padding-left: 8%;
}
// ---

// KALKULATOR
.calc {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 20vh;
	width: 100vw;

	.calc-header {
		font-size: 3rem;
		font-weight: 700;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	}
	.calc-body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			input[type="text"],
			input[type="submit"] {
				padding: 10px 15px;
				border-radius: 5px;
				border: 2px solid $help1;
				transition: border-color 0.3s ease;
			}

			input[type="submit"] {
				background-color: $help2;
				color: white;
				height: 100px;
				width: 125px;
				margin-top: 10px;
				margin-bottom: 25px;
				cursor: pointer;
				border-radius: 4%;
				transition: 0.3s;
			}

			input[type="submit"]:hover {
				background-color: darken($help2, 10%);
				transform: scale(1.05);
				box-shadow: 0px 0px 5px $main;
			}
		}
		.bmi-result {
			background-color: rgba($main, 0.1);
			padding: 10px 20px;
			border-radius: 10px;
			box-shadow: 0 4px 8px rgba($txt, 0.1);
		}
	}
}
// ---

// PORADY
.tips {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 35vh;
	width: 100vw;
	margin-top: 11%;
}
// ---

// Animacja podczas odpalenia strony
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
